<!DOCTYPE html>
<html lang="en"

  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title data-th-replace="${title}">VirtualCare360</title>
 

  <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
  <link
  href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
  rel="stylesheet"
/>
</head>
<body>







   <!-- Navbar for non-logged-in user -->
  <!--<div th:unless="${loggedInUser}">
    
  </div>-->

  <div th:replace="~{navbar :: navbar}"></div>




  <!--main content-->
  <div class="p-4 pt-16">
    
  <section th:replace="${content}"></section>
  </div>





  <footer>This is a VirtualCare 360 website legal rights hold by VKKL</footer>
  <!-- flowbite content -->
 


  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <th:block data-th-replace="${script}"></th:block>
</body>
</html>