<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
     
<head>
 <title>
  doctors page
 </title>
</head>
<body>
  <div  id="content"  >

   <div class="pt-16 pl-5 pr-5 flex flex-row gap-8   flex-wrap">

      

<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-1">
    
    </div>

    <div class="flex flex-col  items-center pb-10 ">
        <img class="w-32 h-32 mb-3 rounded-full shadow-lg "  src="/images/doctor1.jpg" alt="doctor photo" />
        <h5 class="mb-1 text-xl  ml-10 font-medium text-gray-900  dark:text-white" >Vikshit Chauhan (MBBS)</h5>
        <span class="text-m text-gray-500 dark:text-gray-400" style="padding-left: 10px;">orthopedics</span>
           <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Experience - 4 years</span>
            <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Fees-$89</span>
        <div class="flex mt-4 items-center md:mt-6">
            <button href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700  dark:focus:ring-blue-800">Book Appointment</button>
          
        </div>
    </div>
</div>



<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-1">
      
       
        
    </div>

    <div class="flex flex-col  items-center pb-10 ">
        <img class="w-32 h-32 mb-3 rounded-full shadow-lg "  src="https://th.bing.com/th/id/OIP.0Ttue7YQAsl2DKGwh4POzgHaHa?w=200&h=200&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="doctor photo" />
        <h5 class="mb-1 text-xl  ml-10 font-medium text-gray-900  dark:text-white" >Munna bhai (MBBS)</h5>
        <span class="text-m text-gray-500 dark:text-gray-400" style="padding-left: 10px;">Jhanduspecialist</span>
           <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Experience - 6 years</span>
            <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Fees-$95</span>
        <div class="flex mt-4 items-center md:mt-6">
            <button href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700  dark:focus:ring-blue-800">Book Appointment</button>
          
        </div>
    </div>
</div>


<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-1">
      
       
        
    </div>

    <div class="flex flex-col  items-center pb-10 ">
        <img class="w-32 h-32 mb-3 rounded-full shadow-lg "  src="/images/doctor2.jpg" alt="doctor photo" />
        <h5 class="mb-1 text-xl  ml-10 font-medium text-gray-900  dark:text-white" >Prashant Jaiswal(BAMS)</h5>
        <span class="text-m text-gray-500 dark:text-gray-400" style="padding-left: 10px;">Bhadwadoctor</span>
           <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Experience - 2 years</span>
            <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Fees-$79</span>
        <div class="flex mt-4 items-center md:mt-6">
            <button href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700  dark:focus:ring-blue-800">Book Appointment</button>
          
        </div>
    </div>
</div>

<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-1">
      
  
    </div>

    <div class="flex flex-col  items-center pb-10 ">
        <img class="w-32 h-32 mb-3 rounded-full shadow-lg "  src="https://www.bing.com/th/id/OIP.7eb3wf8PZ6ipWYOtS7v4KwHaLH?w=160&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="doctor photo" />
        <h5 class="mb-1 text-xl  ml-10 font-medium text-gray-900  dark:text-white" >Monalisa(MBBS,MD)</h5>
        <span class="text-m text-gray-500 dark:text-gray-400" style="padding-left: 10px;">heartspecilist</span>
           <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Experience - 4 years</span>
            <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Fees-$89</span>
        <div class="flex mt-4 items-center md:mt-6">
            <button href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700  dark:focus:ring-blue-800">Book Appointment</button>
          
        </div>
    </div>
</div>

<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-1">
      
       
        
    </div>

    <div class="flex flex-col  items-center pb-10 ">
        <img class="w-32 h-32 mb-3 rounded-full shadow-lg "  src="https://www.bing.com/th/id/OIP.JW_4m4RVV4ywf0aiB6TWrgHaLH?w=160&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="doctor photo" />
        <h5 class="mb-1 text-xl  ml-10 font-medium text-gray-900  dark:text-white" >Alisa healy(MBBS,MD)</h5>
        <span class="text-m text-gray-500 dark:text-gray-400" style="padding-left: 10px;">Nothing is Everything</span>
           <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Experience - 10 years</span>
            <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Fees-$151</span>
        <div class="flex mt-4 items-center md:mt-6">
            <button href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700  dark:focus:ring-blue-800">Book Appointment</button>
          
        </div>
    </div>
</div>

<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-1">
      
       
        
    </div>

    <div class="flex flex-col  items-center pb-10 ">
        <img class="w-32 h-32 mb-3 rounded-full shadow-lg "  src="https://www.bing.com/th/id/OIP.GgSsUAIKo90PDO1DvjOtGgHaLI?w=160&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="doctor photo" />
        <h5 class="mb-1 text-xl  ml-10 font-medium text-gray-900  dark:text-white" >Aleeza Beth(MBBS,MD)</h5>
        <span class="text-m text-gray-500 dark:text-gray-400" style="padding-left: 10px;"></span>
         <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Cardiologist</span>
           <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Experience - 9 years</span>

            <span class="text-m text-gray-500 dark:text-gray-400 items-start"  style="padding-left: 10px;">Fees-$101</span>
        <div class="flex mt-4 items-center md:mt-6">
            <button href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700  dark:focus:ring-blue-800">Book Appointment</button>
          
        </div>
    </div>
</div>


    </div>
   








  </div>
  <script>
    console.log("this is about page script")
  </script>
</body>
</html>