
  <!-- Navbar Fragment -->
  <nav data-th-fragment="navbar"
       class="bg-white text-lg border-gray-200 dark:bg-gray-900 fixed top-0 left-0 w-full z-10 shadow-md">
    <div class="max-w-screen-xl mx-auto flex flex-wrap items-center justify-between p-4">
      
      <!-- Brand  <img src="https://aristapoint.com/image/image-wellness-virtualcarelogo.jpg" class="h-12  w-auto" alt="Logo" style="width:100px;height:60px"/>-->
     
  
        <span class=" text-green-500 font-semibold whitespace-nowrap dark:text-white"><span style="font-size: 30px;">V</span>irtual <span style="font-size: 30px;">C</span>are</span>


      <!-- Buttons (Login & Signup) -->
      <div class="flex md:order-2 space-x-4">
        <button type="button"
                class="bg-white-50  hover:bg-green-100 border-2 border-green-500  text-green-600 font-medium text-sm px-4 py-2 rounded-lg transition" >
          Login
        </button>
        <button type="button"
                class="bg-green-500 hover:bg-green-900 border-2 border-green-700 text-white font-medium text-sm px-4 py-2 rounded-lg transition"  >
          Signup
        </button>
        <!-- Hamburger button for mobile -->
        <button data-collapse-toggle="navbar-menu" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none"
                aria-controls="navbar-menu" aria-expanded="false"
                onclick="document.getElementById('navbar-menu').classList.toggle('hidden')">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 17 14" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>

      <!-- Navigation Links -->
      <div id="navbar-menu"
           class="hidden md:flex md:items-center md:space-x-8 md:order-1 w-full md:w-auto mt-4 md:mt-0">
        <ul
          class="flex flex-col md:flex-row md:space-x-8 font-medium bg-gray-50 md:bg-transparent rounded-lg p-4 md:p-0 dark:bg-gray-800 md:dark:bg-transparent">
          <li><a href="#" class="block py-2 px-3 text-green-600 md:text-grren-700 dark:text-blue-400">Home</a></li>



 <!-- Dropdown button -->
           <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center   justify-between  w-full py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-green-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-green-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Blogs <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg></button>
                <!-- Dropdown menu -->
              <div id="dropdownNavbar" class="z-10 hidden font-normal  bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Fitness</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Eating</a>
                  </li>
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Stress Release</a>
                  </li>
                </ul>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Daily habits</a>
                </div>
                </div>









          
          
          <li><a href="#" class="block py-2 px-3 text-gray-900 dark:text-white hover:text-green-600">Book Appointment</a></li>
          <li><a href="#" class="block py-2 px-3 text-gray-900 dark:text-white hover:text-green-600">Our Doctors</a></li>
          <li><a href="#" class="block py-2 px-3 text-gray-900 dark:text-white hover:text-green-600">Services</a></li>
          <li><a href="#" class="block py-2 px-3 text-gray-900 dark:text-white hover:text-green-600">About Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

  
